# .NET
bin/
obj/
.vs/
.vscode/.ropeproject/
*.user
*.suo
*.userosscache
*.sln.docstates
TestResults/
coverage/
*.nupkg

# Rider / JetBrains
.idea/

# OS
.DS_Store
Thumbs.db

# Yantra generated FPGA outputs
systems/**/build/**/generated/
systems/**/build/**/impl/
systems/**/build/**/temp/
systems/**/build/**/*.fs
systems/**/build/**/*.bit
systems/**/build/**/*.jed
systems/**/build/**/*.log
systems/**/build/**/*.rpt
